name: Frontend CI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'event-mgmt-frontend/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'event-mgmt-frontend/**'

jobs:
  build-check:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./event-mgmt-frontend

    steps:
    - uses: actions/checkout@v4
    
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18.x'
        
    - name: Install dependencies
      run: npm ci
      
    - name: Run Build
      run: npm run build